.background-container {
  background-image: url('assets/background_images/clouds.jpg'); /* Use relative or absolute path to the image */
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%; /* Set the height as needed */
  width: 100%;
  margin:0;
  padding:0;
  /* You can add more styles as required */

}
.container img{
   max-width: 100%;
   height: auto;
}